/*
 * Height of the header/menu when collapsed
 */
/*
 * Height of the dropdown menu when expanded
 */
/*
 * Dropdown menu close button height
 */
/*
 * Height of the breadcrumb
 */
/**
 * Animation for the dropdown menu
 */
/*
 * Background color for the boot screen when the application loads
 */
/**
 * Length of the out of sync animation (the cloud at the top right)
 */
/*
 * Width of the shadow for the sync cloud
 */
.embedded-images img {
  max-width: 100%;
  width: inherit !important;
  height: inherit !important;
}
/**
 * 32 pixel loader image
 */
.synth-icon-loader32 {
  background-image: url('../images/loader32.gif');
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  display: inline-block;
}
/**
 * Busybox with spinner
 */
div.synth-busybox {
  height: 60px;
}
div.synth-busybox > span.synth-icon-loader32 + span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  height: 40px;
  margin-left: 5px;
}
/**
 * Validation errors
 */
small.error {
  background: none repeat scroll 0 0 #C60F13;
  color: #FFFFFF;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  margin-top: 0;
  padding: 0.375em 0.25em;
}
form[novalidate] input,
form[novalidate] textarea {
  border-left-width: 8px;
  border-color: #3498db;
  border-style: solid;
}
form[novalidate] input.ng-invalid,
form[novalidate] textarea.ng-invalid {
  border-color: #e74c3c;
}
form[novalidate] input.ng-valid,
form[novalidate] textarea.ng-valid {
  border-color: #2ecc71;
}
.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;
}
.form-signin input[type="text"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}
.form-signin .form-control {
  -moz-box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 20px;
}
ol.breadcrumb {
  top: 50px;
  left: 0;
  right: 0;
  height: 35px;
  line-height: 20px;
  position: absolute;
  z-index: 4;
  overflow: hidden;
  border-radius: 0;
  width: 100%;
  white-space: nowrap;
}
ol.breadcrumb > li {
  overflow: hidden;
  white-space: nowrap;
}
.navbar-default .navbar-nav > li > a {
  font-weight: bold;
}
/** START - sync status indicators */
/**
 * Sync animations
 */
@-webkit-keyframes syncBusyAnimation {
  0% {
    text-shadow: 1px 0px 0px #FF0000;
  }
  100% {
    text-shadow: 1px 0px 5px #ff0000;
  }
}
@-moz-keyframes outOfSyncAnimation {
  0% {
    text-shadow: 1px 0px 0px #FF0000;
  }
  100% {
    text-shadow: 1px 0px 5px #ff0000;
  }
}
@-o-keyframes outOfSyncAnimation {
  0% {
    text-shadow: 1px 0px 0px #FF0000;
  }
  100% {
    text-shadow: 1px 0px 5px #ff0000;
  }
}
@keyframes outOfSyncAnimation {
  0% {
    text-shadow: 1px 0px 0px #FF0000;
  }
  100% {
    text-shadow: 1px 0px 5px #ff0000;
  }
}
div.overallSyncStatus {
  float: right;
  right: 75px;
  position: absolute;
  display: block;
  top: 0;
}
div.overallSyncStatus > span {
  font-size: 2em;
  top: 10px;
}
div.overallSyncStatus > span.syncBusy {
  -webkit-animation-name: syncBusyAnimation;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: syncBusyAnimation;
  -moz-animation-duration: 0.7s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-fill-mode: forwards;
  -o-animation-name: syncBusyAnimation;
  -o-animation-duration: 0.7s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate;
  -o-animation-fill-mode: forwards;
  animation-name: syncBusyAnimation;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
div.toolSyncStatus {
  float: right;
  right: 10px;
  position: absolute;
  display: inline-block;
}
div.toolSyncStatus > span,
span.toolSyncStatus {
  font-size: 1.2em;
}
/*
 * Style for main menu
 */
span.toolSyncStatus {
  top: 5px;
  padding-right: 5px;
}
div.overallSyncStatus > span.outSync,
div.toolSyncStatus > span.outSync,
span.toolSyncStatus.outSync {
  color: red;
}
div.overallSyncStatus > span.inSync,
div.toolSyncStatus > span.inSync,
span.toolSyncStatus.inSync {
  color: green;
}
/** END - Sync status indicators */
/**
 * Module select
 */
div[synth-module-dropdown] {
  margin-left: 10px;
  margin-right: 100px;
  /*
	 * Span showing when there is only one module and while
	 * the application is booting
	 */
}
div[synth-module-dropdown] > span {
  color: #FFFFFF;
  font-size: 1.4em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}
div[synth-module-dropdown] a {
  color: #FFFFFF;
  font-size: 1.4em;
  font-weight: bold;
}
div[synth-module-dropdown] > .dropdown .btn.dropdown-toggle {
  padding-left: 0;
  width: 100%;
  text-align: left;
}
div[synth-module-dropdown] > .dropdown .btn.dropdown-toggle > span.moduleName {
  overflow-x: hidden;
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
}
div[synth-module-dropdown] > .dropdown .btn.dropdown-toggle > span.moduleName:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}
div[synth-module-dropdown] > .dropdown .btn.dropdown-toggle > span.caret {
  display: inline-block;
  margin-top: -15px;
}
div[synth-module-dropdown] > .dropdown .btn.dropdown-toggle:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
div[synth-module-dropdown] > .dropdown .btn.dropdown-toggle:hover {
  color: #FFFFFF;
  font-size: 1.4em;
  font-weight: bold;
}
div[synth-module-dropdown] > .dropdown .btn.dropdown-toggle:hover > .carret {
  color: #000000;
}
div[synth-module-dropdown] > .dropdown .dropdown-menu {
  padding: 0;
}
div[synth-module-dropdown] > .dropdown .dropdown-menu .list-group {
  margin-bottom: -15px;
}
div[synth-module-dropdown] > .dropdown .dropdown-menu .list-group .list-group-item {
  padding: 0 5px;
}
/**
 * START - Form panel
 */
.panel-form {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
}
.panel-form .panel-body.no-padding {
  padding: 0;
}
/**
 * END	- Form panel
 */
/*
 * START - menu list
 */
.list-menu-heading-font {
  font-size: 18px;
  font-weight: bold;
}
.list-group.list-menu {
  font-size: 18px;
  font-weight: bold;
}
.list-group.list-menu > .list-group-item:hover,
.list-group.list-menu > .list-group-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}
.list-group.list-menu > .list-group-item > h4 {
  font-size: 18px;
  font-weight: bold;
}
.list-group.list-menu > .list-group-item > .list-group-item-text {
  font-size: 14px;
  font-weight: normal;
}
.list-group.list-menu > .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group.list-menu > .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.list-group.list-menu > .list-group-item.list-group-divider {
  background-color: #f7931d;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  color: #333333;
  font-size: 0.9em;
}
/*
 * END - menu list
 */
body {
  /* On modern browsers, prevent the whole page to bounce */
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*iScroll*/
synth-menu {
  height: 50px;
  left: 0;
  line-height: 50px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.wrapper {
  bottom: 0px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.scroller {
  -moz-text-size-adjust: none;
  -moz-user-select: none;
  position: absolute;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  width: 100%;
  z-index: 1;
  /*	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;*/
}
/** Main view scroll wrapper */
.wrapper[ng-iscroll=mainScroll] {
  top: 85px;
}
/** Menu scroll wrapper */
.wrapper[ng-iscroll=menuScroll] {
  top: 0;
  background-color: #f7931d;
  height: 240px;
}
.wrapper[ng-iscroll=menuScroll] > .scroller {
  padding-left: 15px;
}
synth-menu .navbar-header,
synth-menu .nav > li {
  width: 100%;
}
synth-menu .navbar-toggle {
  display: inline-block;
}
synth-menu .navbar {
  height: 50px;
  max-height: 50px;
}
.synthMenu {
  height: 301px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 48px;
  left: -1px;
  right: -1px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.synthMenu .divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-left: 15px;
  margin-right: 15px;
}
.synthMenu div.closeWrapper {
  position: relative;
  top: 240px;
  background-color: #a85e06;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 5;
  height: 30px;
  line-height: normal;
  text-align: center;
  padding-top: 3px;
}
.synthMenu div.closeWrapper button {
  margin: 0;
}
.synthMenu.ng-hide-add,
.synthMenu.ng-hide-remove {
  -webkit-transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.synthMenu.ng-hide-add.ng-hide-add-active,
.synthMenu.ng-hide-remove {
  height: 0;
}
.synthMenu.ng-hide-add,
.synthMenu.ng-hide-remove.ng-hide-remove-active {
  height: 300px;
}
/**
 * Bootscreen
 */
.bootscreen {
  background: #ffffff;
  top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 4;
  display: table;
  height: 100%;
}
.bootscreen h1 {
  position: absolute;
  z-index: 500;
  text-align: center;
  width: 100%;
  color: #ffffff;
}
.bootscreen > div.cloudWrapper {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.bootscreen > div.cloudWrapper > img {
  position: absolute;
}
.bootscreen > div.textWrapper {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.bootscreen > div.textWrapper > span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-size: 2em;
}
